---

---
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import "normalize";
@import "cayman";
@import "github";

.youtube {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 56.25%;
  }
  > * {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
} 
.videos {
  max-width:560px;
}

a.donate {
  display: block;
  img {
    max-height: 44px;
    width: 100%;
  }
} 
.site-footer {
  padding: 2rem 0;
}