<section class="page-header">
  <h1 class="project-name">{{ headerData.title }}</h1>
  {% if headerData.screenshot != null or headerData.tagline != null %}
    <h2 class="project-tagline">
      {% if headerData.screenshot != null %}
        <img src="{{ headerData.screenshot }}" alt="{{ headerData.tagline }}" />
      {% else %}
        {{ headerData.tagline }}
      {% endif %}
    </h2>
  {% endif %}
  {% if page.type == "project" %}
    {% include project-header.html %}
  {% endif %}
  {% if page.type == "project-tab" %}
    {% include project-header.html %}
  {% endif %}
</section>