---
layout: compress
---
<!DOCTYPE html>
<html lang="en-us">
  {% if page.group == null %}
    {% assign headerData = page %}
  {% else %}
    {% assign headerData = site.data[{{page.group}}] %}
  {% endif %}
  <head>
    <meta charset="UTF-8">
    <title>
    {% if page.title == null %}
      {{ headerData.title }}
    {% else %}
      {{ headerData.title }}
      
      {% if page.title != null %}
        - {{ page.title }}
      {% endif %}
      {% if page.layout == "project" %}
        by DanTheMan827
      {% endif %}
    {% endif %}
    </title>
    <script type="text/javascript" src="/js/main.js"></script>
    <!-- Google tag (gtag.js)-->
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=G-P1081WE1KQ"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'G-P1081WE1KQ');
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css" media="screen">
  </head>
  <body>
    {% include page-header.html %}
    <section class="main-content">
      {% if page.ads != null %}
        {% for ad in page.ads %}
          {% if ad == "top" %}
            <div class="bottomad">
              {% include github-ad.html %}
            </div>
          {% endif %}
        {% endfor %}
      {% endif %}
      {{ content }}

      {% include page-footer.html %}
	  
      {% if page.ads != null %}
        {% for ad in page.ads %}
          {% if ad == "bottom" %}
            <div class="bottomad">
              {% include github-ad.html %}
            </div>
          {% endif %}
        {% endfor %}
      {% endif %}
    </section>
  </body>
</html>
